<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<div class="col-md-5 offset-md-2 mt-5">
    <br>
    <form enctype="multipart/form-data" accept-charset="UTF-8" action="{{.Url}}" method="POST">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="text" name="password" class="form-control" id="password"
                   placeholder="Enter new password" required="required">
        </div>
        <hr>
        <button id="btn" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>